In [148]:
import pandas as pd
import numpy as np

em2018 = pd.read_csv('2018_employees.csv')
em2019 = pd.read_csv('2019_employees.csv')

In [149]:
# Question 1
print(em2018.shape) # rows and cols
print(em2019.shape)

(35, 4)
(35, 4)

In [150]:
em2018.head()

   Employee ID        Job                Type   2018
0        69389  Assistant  2 - Regular/Career  88170
1        61018  Assistant  2 - Regular/Career  89344
2         2383  Assistant  2 - Regular/Career  71787
3        61688  Assistant  2 - Regular/Career  85908
4        83989  Assistant  2 - Regular/Career  72936

In [151]:
em2019.head()

   Employee ID        Job                Type   2019
0        65607     Driver  2 - Regular/Career  60949
1         2002  Assistant  2 - Regular/Career  71070
2        91982  Assistant  2 - Regular/Career  71055
3        78619     Driver  2 - Regular/Career  72936
4        51864  Assistant  2 - Regular/Career  72403

In [152]:
em2019[em2019["2019"] > 90000]

    Employee ID        Job                Type    2019
24        13548     Driver  2 - Regular/Career  101588
28        69389  Assistant  2 - Regular/Career   92125
29        61209     Driver  2 - Regular/Career   90125

In [153]:
lowest = em2019["2019"].min()
em2019[em2019["2019"] == lowest]

   Employee ID        Job                Type   2019
9        88875  Assistant  2 - Regular/Career  58005

In [154]:
em2018["Job"].value_counts()

Assistant    15
Driver       10
Designer     10
Name: Job, dtype: int64

In [155]:
#6
em2018[~(em2018["Employee ID"].isin(em2019["Employee ID"]))]

    Employee ID     Job                Type   2018
34        33845  Driver  2 - Regular/Career  73545

In [156]:
#7 (double check)
em2019[(em2019["2019"] - em2018["2018"]) > 0]

    Employee ID        Job                Type    2019
6         11851  Assistant  2 - Regular/Career   71209
7          6428  Assistant  2 - Regular/Career   88819
8         77808   Designer  2 - Regular/Career   75339
10        65009  Assistant  2 - Regular/Career   71382
12        33879     Driver  2 - Regular/Career   77697
14        71782     Driver  2 - Regular/Career   73550
17        36605   Designer  2 - Regular/Career   71506
20        61688  Assistant  2 - Regular/Career   85908
22         7742   Designer  2 - Regular/Career   86520
23        83989  Assistant  2 - Regular/Career   72936
24        13548     Driver  2 - Regular/Career  101588
26         2228  Assistant  2 - Regular/Career   73535
28        69389  Assistant  2 - Regular/Career   92125
29        61209     Driver  2 - Regular/Career   90125
31        11174   Designer  2 - Regular/Career   71420
32        61018  Assistant  2 - Regular/Career   89344
33        97063   Designer  2 - Regular/Career   73205
34          992     Driver  2 - Regular/Career   77913

In [157]:
#8 
(em2019["2019"] - em2018["2018"]).mean()

821.1714285714286

In [158]:
#9
print('Workers 2018: ', em2018["Employee ID"].nunique())
print('Workers 2019: ', em2019["Employee ID"].nunique())
newFrame = pd.concat([em2019, em2018])
print('Workers Both: ', newFrame["Employee ID"].nunique())

Workers 2018:  35
Workers 2019:  35
Workers Both:  36

C:\Users\George Garcia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [159]:
#10
newFrame = pd.concat([em2019, em2018])
newFrame

C:\Users\George Garcia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

        2018      2019  Employee ID        Job                Type
0        NaN   60949.0        65607     Driver  2 - Regular/Career
1        NaN   71070.0         2002  Assistant  2 - Regular/Career
2        NaN   71055.0        91982  Assistant  2 - Regular/Career
3        NaN   72936.0        78619     Driver  2 - Regular/Career
4        NaN   72403.0        51864  Assistant  2 - Regular/Career
5        NaN   71787.0         2383  Assistant  2 - Regular/Career
6        NaN   71209.0        11851  Assistant  2 - Regular/Career
7        NaN   88819.0         6428  Assistant  2 - Regular/Career
8        NaN   75339.0        77808   Designer  2 - Regular/Career
9        NaN   58005.0        88875  Assistant  2 - Regular/Career
10       NaN   71382.0        65009  Assistant  2 - Regular/Career
11       NaN   72936.0        60352  Assistant  2 - Regular/Career
12       NaN   77697.0        33879     Driver  2 - Regular/Career
13       NaN   70898.0        26653  Assistant  2 - Regular/Career
14       NaN   73550.0        71782     Driver  2 - Regular/Career
15       NaN   73377.0        77548     Driver  2 - Regular/Career
16       NaN   70000.0        44774     Driver  2 - Regular/Career
17       NaN   71506.0        36605   Designer  2 - Regular/Career
18       NaN   72403.0        76924   Designer  2 - Regular/Career
19       NaN   72329.0        92848   Designer  2 - Regular/Career
20       NaN   85908.0        61688  Assistant  2 - Regular/Career
21       NaN   71333.0        32047   Designer        1 - Contract
22       NaN   86520.0         7742   Designer  2 - Regular/Career
23       NaN   72936.0        83989  Assistant  2 - Regular/Career
24       NaN  101588.0        13548     Driver  2 - Regular/Career
25       NaN   74259.0        15926     Driver  2 - Regular/Career
26       NaN   73535.0         2228  Assistant  2 - Regular/Career
27       NaN   72579.0        91762   Designer  2 - Regular/Career
28       NaN   92125.0        69389  Assistant  2 - Regular/Career
29       NaN   90125.0        61209     Driver  2 - Regular/Career
..       ...       ...          ...        ...                 ...
5    73535.0       NaN         2228  Assistant  2 - Regular/Career
6    71070.0       NaN         2002  Assistant  2 - Regular/Career
7    71382.0       NaN        65009  Assistant  2 - Regular/Career
8    71055.0       NaN        91982  Assistant  2 - Regular/Career
9    72403.0       NaN        51864  Assistant  2 - Regular/Career
10   70898.0       NaN        26653  Assistant  2 - Regular/Career
11   72936.0       NaN        60352  Assistant  2 - Regular/Career
12   71209.0       NaN        11851  Assistant  2 - Regular/Career
13   88819.0       NaN         6428  Assistant  2 - Regular/Career
14   58005.0       NaN        88875  Assistant  2 - Regular/Career
15   86520.0       NaN         7742   Designer  2 - Regular/Career
16   74330.0       NaN        77808   Designer  2 - Regular/Career
17   71333.0       NaN        32047   Designer        1 - Contract
18   73205.0       NaN        97063   Designer  2 - Regular/Career
19   72403.0       NaN        76924   Designer  2 - Regular/Career
20   72579.0       NaN        91762   Designer  2 - Regular/Career
21   71420.0       NaN        11174   Designer  2 - Regular/Career
22   68850.0       NaN        98292   Designer  2 - Regular/Career
23   72329.0       NaN        92848   Designer  2 - Regular/Career
24   71506.0       NaN        36605   Designer  2 - Regular/Career
25  101588.0       NaN        13548     Driver  2 - Regular/Career
26   70500.0       NaN        61209     Driver  2 - Regular/Career
27   77913.0       NaN          992     Driver  2 - Regular/Career
28   72936.0       NaN        78619     Driver  2 - Regular/Career
29   73550.0       NaN        71782     Driver        1 - Contract
30   73377.0       NaN        77548     Driver  2 - Regular/Career
31   70000.0       NaN        44774     Driver  2 - Regular/Career
32   74259.0       NaN        15926     Driver  2 - Regular/Career
33   60949.0       NaN        65607     Driver  2 - Regular/Career
34   73545.0       NaN        33845     Driver  2 - Regular/Career

[70 rows x 5 columns]

In [160]:
#11 2019 first
col2018 = pd.Series(['2018' for _ in range(35)])
col2019 = pd.Series(['2019' for _ in range(35)])
year = col2019.append(col2018)
year.reset_index()

salary = pd.concat([em2019["2019"], em2018["2018"]])

newFrame = pd.concat([newFrame, year, salary], axis=1)
del newFrame["2018"]
del newFrame["2019"]
newFrame

    Employee ID        Job                Type     0       1
0         65607     Driver  2 - Regular/Career  2019   60949
1          2002  Assistant  2 - Regular/Career  2019   71070
2         91982  Assistant  2 - Regular/Career  2019   71055
3         78619     Driver  2 - Regular/Career  2019   72936
4         51864  Assistant  2 - Regular/Career  2019   72403
5          2383  Assistant  2 - Regular/Career  2019   71787
6         11851  Assistant  2 - Regular/Career  2019   71209
7          6428  Assistant  2 - Regular/Career  2019   88819
8         77808   Designer  2 - Regular/Career  2019   75339
9         88875  Assistant  2 - Regular/Career  2019   58005
10        65009  Assistant  2 - Regular/Career  2019   71382
11        60352  Assistant  2 - Regular/Career  2019   72936
12        33879     Driver  2 - Regular/Career  2019   77697
13        26653  Assistant  2 - Regular/Career  2019   70898
14        71782     Driver  2 - Regular/Career  2019   73550
15        77548     Driver  2 - Regular/Career  2019   73377
16        44774     Driver  2 - Regular/Career  2019   70000
17        36605   Designer  2 - Regular/Career  2019   71506
18        76924   Designer  2 - Regular/Career  2019   72403
19        92848   Designer  2 - Regular/Career  2019   72329
20        61688  Assistant  2 - Regular/Career  2019   85908
21        32047   Designer        1 - Contract  2019   71333
22         7742   Designer  2 - Regular/Career  2019   86520
23        83989  Assistant  2 - Regular/Career  2019   72936
24        13548     Driver  2 - Regular/Career  2019  101588
25        15926     Driver  2 - Regular/Career  2019   74259
26         2228  Assistant  2 - Regular/Career  2019   73535
27        91762   Designer  2 - Regular/Career  2019   72579
28        69389  Assistant  2 - Regular/Career  2019   92125
29        61209     Driver  2 - Regular/Career  2019   90125
..          ...        ...                 ...   ...     ...
5          2228  Assistant  2 - Regular/Career  2018   73535
6          2002  Assistant  2 - Regular/Career  2018   71070
7         65009  Assistant  2 - Regular/Career  2018   71382
8         91982  Assistant  2 - Regular/Career  2018   71055
9         51864  Assistant  2 - Regular/Career  2018   72403
10        26653  Assistant  2 - Regular/Career  2018   70898
11        60352  Assistant  2 - Regular/Career  2018   72936
12        11851  Assistant  2 - Regular/Career  2018   71209
13         6428  Assistant  2 - Regular/Career  2018   88819
14        88875  Assistant  2 - Regular/Career  2018   58005
15         7742   Designer  2 - Regular/Career  2018   86520
16        77808   Designer  2 - Regular/Career  2018   74330
17        32047   Designer        1 - Contract  2018   71333
18        97063   Designer  2 - Regular/Career  2018   73205
19        76924   Designer  2 - Regular/Career  2018   72403
20        91762   Designer  2 - Regular/Career  2018   72579
21        11174   Designer  2 - Regular/Career  2018   71420
22        98292   Designer  2 - Regular/Career  2018   68850
23        92848   Designer  2 - Regular/Career  2018   72329
24        36605   Designer  2 - Regular/Career  2018   71506
25        13548     Driver  2 - Regular/Career  2018  101588
26        61209     Driver  2 - Regular/Career  2018   70500
27          992     Driver  2 - Regular/Career  2018   77913
28        78619     Driver  2 - Regular/Career  2018   72936
29        71782     Driver        1 - Contract  2018   73550
30        77548     Driver  2 - Regular/Career  2018   73377
31        44774     Driver  2 - Regular/Career  2018   70000
32        15926     Driver  2 - Regular/Career  2018   74259
33        65607     Driver  2 - Regular/Career  2018   60949
34        33845     Driver  2 - Regular/Career  2018   73545

[70 rows x 5 columns]

In [164]:
newFrame.rename(columns={0: "Year", 1: "Salary"})

    Employee ID        Job                Type  Year  Salary
0         65607     Driver  2 - Regular/Career  2019   60949
1          2002  Assistant  2 - Regular/Career  2019   71070
2         91982  Assistant  2 - Regular/Career  2019   71055
3         78619     Driver  2 - Regular/Career  2019   72936
4         51864  Assistant  2 - Regular/Career  2019   72403
5          2383  Assistant  2 - Regular/Career  2019   71787
6         11851  Assistant  2 - Regular/Career  2019   71209
7          6428  Assistant  2 - Regular/Career  2019   88819
8         77808   Designer  2 - Regular/Career  2019   75339
9         88875  Assistant  2 - Regular/Career  2019   58005
10        65009  Assistant  2 - Regular/Career  2019   71382
11        60352  Assistant  2 - Regular/Career  2019   72936
12        33879     Driver  2 - Regular/Career  2019   77697
13        26653  Assistant  2 - Regular/Career  2019   70898
14        71782     Driver  2 - Regular/Career  2019   73550
15        77548     Driver  2 - Regular/Career  2019   73377
16        44774     Driver  2 - Regular/Career  2019   70000
17        36605   Designer  2 - Regular/Career  2019   71506
18        76924   Designer  2 - Regular/Career  2019   72403
19        92848   Designer  2 - Regular/Career  2019   72329
20        61688  Assistant  2 - Regular/Career  2019   85908
21        32047   Designer        1 - Contract  2019   71333
22         7742   Designer  2 - Regular/Career  2019   86520
23        83989  Assistant  2 - Regular/Career  2019   72936
24        13548     Driver  2 - Regular/Career  2019  101588
25        15926     Driver  2 - Regular/Career  2019   74259
26         2228  Assistant  2 - Regular/Career  2019   73535
27        91762   Designer  2 - Regular/Career  2019   72579
28        69389  Assistant  2 - Regular/Career  2019   92125
29        61209     Driver  2 - Regular/Career  2019   90125
..          ...        ...                 ...   ...     ...
5          2228  Assistant  2 - Regular/Career  2018   73535
6          2002  Assistant  2 - Regular/Career  2018   71070
7         65009  Assistant  2 - Regular/Career  2018   71382
8         91982  Assistant  2 - Regular/Career  2018   71055
9         51864  Assistant  2 - Regular/Career  2018   72403
10        26653  Assistant  2 - Regular/Career  2018   70898
11        60352  Assistant  2 - Regular/Career  2018   72936
12        11851  Assistant  2 - Regular/Career  2018   71209
13         6428  Assistant  2 - Regular/Career  2018   88819
14        88875  Assistant  2 - Regular/Career  2018   58005
15         7742   Designer  2 - Regular/Career  2018   86520
16        77808   Designer  2 - Regular/Career  2018   74330
17        32047   Designer        1 - Contract  2018   71333
18        97063   Designer  2 - Regular/Career  2018   73205
19        76924   Designer  2 - Regular/Career  2018   72403
20        91762   Designer  2 - Regular/Career  2018   72579
21        11174   Designer  2 - Regular/Career  2018   71420
22        98292   Designer  2 - Regular/Career  2018   68850
23        92848   Designer  2 - Regular/Career  2018   72329
24        36605   Designer  2 - Regular/Career  2018   71506
25        13548     Driver  2 - Regular/Career  2018  101588
26        61209     Driver  2 - Regular/Career  2018   70500
27          992     Driver  2 - Regular/Career  2018   77913
28        78619     Driver  2 - Regular/Career  2018   72936
29        71782     Driver        1 - Contract  2018   73550
30        77548     Driver  2 - Regular/Career  2018   73377
31        44774     Driver  2 - Regular/Career  2018   70000
32        15926     Driver  2 - Regular/Career  2018   74259
33        65607     Driver  2 - Regular/Career  2018   60949
34        33845     Driver  2 - Regular/Career  2018   73545

[70 rows x 5 columns]